<template>
  <v-navigation-drawer v-model="drawer" app dark floating>
    <v-list dense dark>
      <SidebarHead />
      <v-divider class="my-2"></v-divider>
      <SidebarItem v-if="verificarPermissao($page.props.auth.permissoes, items.unidades.permissao)" :item="items.unidades" />
      <SidebarItem v-if="verificarPermissao($page.props.auth.permissoes, items.usuarios.permissao)" :item="items.usuarios" />
      <SidebarItem v-if="verificarPermissao($page.props.auth.permissoes, items.categorias.permissao)" :item="items.categorias" />
      <SidebarItem v-if="verificarPermissao($page.props.auth.permissoes, items.ativos.permissao)" :item="items.ativos" />
      <SidebarItem v-if="verificarPermissao($page.props.auth.permissoes, items.fornecedores.permissao)" :item="items.fornecedores" />
      <SidebarItem v-if="verificarPermissao($page.props.auth.permissoes, items.notasFiscais.permissao)" :item="items.notasFiscais" />
      <SidebarItem v-if="verificarPermissao($page.props.auth.permissoes, items.compras.permissao)" :item="items.compras" />
      <SidebarItem v-if="verificarPermissao($page.props.auth.permissoes, items.transferencias.permissao)" :item="items.transferencias" />
      <SidebarItem v-if="verificarPermissao($page.props.auth.permissoes, items.permissoes.permissao)" :item="items.permissoes" />
      <SidebarItem v-if="verificarPermissao($page.props.auth.permissoes, items.funcoes.permissao)" :item="items.funcoes" />
    </v-list>
  </v-navigation-drawer>
</template>

<script>
import SidebarHead from '@/components/shared/Sidebar/SidebarHead.vue'
import SidebarItem from '@/components/shared/Sidebar/SidebarItem.vue'

export default {
  components: {
    SidebarHead,
    SidebarItem,
  },

  data() {
    return {
      drawer: false,
      items: {
        unidades: {
          link: this.route('central.unidades.index'),
          icon: 'apartment',
          text: 'Unidades',
          permissao: 'unidade-index',
        },
        usuarios: {
          link: this.route('central.usuarios.index'),
          icon: 'people',
          text: 'Usuários',
          permissao: 'usuario-index',
        },
        categorias: {
          link: this.route('central.categorias.index'),
          icon: 'local_offer',
          text: 'Categorias',
          permissao: 'categoria-index',
        },
        ativos: {
          link: this.route('central.ativos.index'),
          icon: 'store',
          text: 'Ativos',
          permissao: 'ativo-index',
        },
        fornecedores: {
          link: this.route('central.fornecedores.index'),
          icon: 'local_shipping',
          text: 'Fornecedores',
          permissao: 'fornecedor-index',
        },
        compras: {
          link: this.route('central.compras.index'),
          icon: 'local_grocery_store',
          text: 'Compras',
          permissao: 'compra-index',
        },
        notasFiscais: {
          link: this.route('central.notas-fiscais.index'),
          icon: 'receipt',
          text: 'Notas Fiscais',
          permissao: 'notas-fiscais-index',
        },
        transferencias: {
          link: this.route('central.transferencias.index'),
          icon: 'swap_horiz',
          text: 'Transferências',
          permissao: 'transferencia-index',
        },
        permissoes: {
          link: this.route('central.permissoes.index'),
          icon: 'lock',
          text: 'Permissões',
          permissao: 'permissao-index',
        },
        funcoes: {
          link: this.route('central.funcoes.index'),
          icon: 'manage_accounts',
          text: 'Funções',
          permissao: 'funcao-index',
        },
      },
    }
  },
}
</script>
