<template>
  <Link :href="item.link" :method="item.method" as="v-list-item" dense exact>
    <v-list-item-content>
      <v-list-item-title v-text="item.text"></v-list-item-title>
    </v-list-item-content>
    <v-list-item-icon>
      <v-icon v-text="item.icon"></v-icon>
    </v-list-item-icon>
  </Link>
</template>

<script>
import { Link } from '@inertiajs/inertia-vue'

export default {
  components: {
    Link,
  },

  props: {
    item: {
      type: Object,
      required: true
    },
  },
}
</script>
