<template>
  <v-data-table
    :headers="headersComputados"
    :items="transferencias"
    :items-per-page="10"
    class="elevation-1"
    no-data-text="Nenhuma transferência encontrada"
    no-results-text="Transferência não encontrada"
    :footer-props="{'items-per-page-text': 'Exibir'}"
  >
    <template #top>
      <v-toolbar flat>
        <v-toolbar-title>Transferências</v-toolbar-title>
        <v-divider class="mx-4" inset vertical></v-divider>
        <v-spacer></v-spacer>
        <v-dialog v-if="permissaoCriar || permissaoEditar" v-model="dialog" transition="scroll-x-transition" max-width="650px">
          <template v-if="permissaoCriar" #activator="{ on, attrs }">
            <v-btn color="primary" dark class="mb-2" v-bind="attrs" v-on="on">
              Nova transferência
            </v-btn>
          </template>
          <v-card v-if="permissaoCriar || permissaoEditar">
            <v-card-title>
              <span class="text-h5">{{ tituloFormulario }}</span>
            </v-card-title>

            <v-card-text>
              <v-container>
                <v-row>
                  <v-col cols="12">
                    <v-autocomplete
                      v-model="form.ativo_id"
                      :items="ativos"
                      item-text="titulo"
                      item-value="id"
                      label="Ativo"
                      outlined
                      :error-messages="form.errors.ativo_id"
                      @input="form.clearErrors('ativo_id')"
                      @blur="form.clearErrors('ativo_id')">
                    </v-autocomplete>
                  </v-col>

                  <v-col cols="12">
                    <v-autocomplete
                      v-model="form.unidade"
                      :items="unidades"
                      item-text="id"
                      item-value="id"
                      label="Unidade"
                      outlined
                      :error-messages="form.errors.unidade"
                      @input="form.clearErrors('unidade')"
                      @blur="form.clearErrors('unidade')">
                    </v-autocomplete>
                  </v-col>

                  <v-col cols="6">
                    <v-text-field
                      v-model.number="form.quantidade"
                      type="number"
                      label="Quantidade"
                      outlined
                      :error-messages="form.errors.quantidade"
                      @input="form.clearErrors('quantidade')"
                      @blur="form.clearErrors('quantidade')">
                    </v-text-field>
                  </v-col>
                </v-row>
              </v-container>
            </v-card-text>

            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="red darken-1" text @click="close">Cancelar</v-btn>
              <v-btn color="green darken-1" text @click="save">Salvar</v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
        <v-dialog v-if="permissaoDeletar" v-model="dialogDelete" transition="scroll-x-transition" max-width="500px">
          <v-card>
            <v-card-title>Você tem certeza que deseja deletar esse item?</v-card-title>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="red darken-1" text @click="closeDelete">Cancelar</v-btn>
              <v-btn color="green darken-1" text @click="deleteItemConfirm">OK</v-btn>
              <v-spacer></v-spacer>
            </v-card-actions>
          </v-card>
        </v-dialog>
      </v-toolbar>
    </template>
    <template v-slot:item.status="{ item }">
      <v-chip :color="getColor(item.status)" label x-small dark>
        {{ item.status }}
      </v-chip>
    </template>
    <template v-if="permissaoEditar || permissaoDeletar" v-slot:item.actions="{ item }">
      <v-icon v-if="permissaoEditar && item.status === 'PENDENTE'" small class="mr-2" @click="editItem(item)">edit</v-icon>
      <v-icon v-if="permissaoDeletar && item.status === 'PENDENTE'" small color="red" @click="deleteItem(item)">delete_forever</v-icon>
    </template>
  </v-data-table>
</template>

<script>
import Central from '@/layouts/Dashboard/Central.vue'

export default {
  layout: Central,

  props: {
    transferencias: {
      type: Array,
      required: true,
      default() {
        return []
      }
    },
    ativos: {
      type: Array,
      required: true,
      default() {
        return []
      }
    },
    unidades: {
      type: Array,
      required: true,
      default() {
        return []
      }
    },
    permissoes: {
      type: Object,
      required: true,
      default() {
        return {}
      }
    }
  },

  data() {
    return {
      headers: [
         { text: '#', align: 'start', sortable: true, value: 'id'},
         { text: 'Ativo', align: 'center', sortable: true, value: 'ativo_id'},
         { text: 'Unidade', align: 'center', sortable: true, value: 'unidade'},
         { text: 'Quantidade', align: 'center', sortable: true, value: 'quantidade'},
         { text: 'Status', align: 'center', sortable: true, value: 'status'},
         { text: 'Data de criação', align: 'center', sortable: false, value: 'created_at'},
         { text: 'Data de atualização', align: 'center', sortable: false, value: 'updated_at'},
      ],

      dialog: false,
      dialogDelete: false,
      editedIndex: -1,
      form: this.$inertia.form({
        ativo_id: null,
        unidade: null,
        quantidade: null,
      })
    }
  },

  computed: {
    tituloFormulario () {
      return this.editedIndex === -1 ? 'Cadastrar Transferência' : 'Editar Transferência'
    },

    headersComputados() {
      const headers = this.headers;

      if(this.permissaoEditar || this.permissaoDeletar) {
        const acoes = { text: 'Ações', align: 'center', sortable: false, value: 'actions'};

        return [...headers, acoes]
      }
      return [...headers]
    },

    permissaoCriar() {
      return this.verificarPermissao(this.$page.props.auth.permissoes, this.permissoes.store)
    },

    permissaoEditar() {
      return this.verificarPermissao(this.$page.props.auth.permissoes, this.permissoes.update)
    },

    permissaoDeletar() {
      return this.verificarPermissao(this.$page.props.auth.permissoes, this.permissoes.destroy)
    }
  },

  watch: {
    dialog (val) {
      val || this.close()
    },
    dialogDelete (val) {
      val || this.closeDelete()
    },
  },

  methods: {
    editItem (item) {
      this.editedIndex         = this.transferencias.indexOf(item)
      this.form.ativo_id       = item.ativo_id
      this.form.unidade        = item.unidade
      this.form.quantidade     = item.quantidade
      this.dialog              = true
    },

    save () {
      if (this.editedIndex > -1) {
        this.form.put(this.route('central.transferencias.update', { transferencia: this.transferencias[this.editedIndex].id }), {
          onSuccess: () => {
            this.close()
          }
        });
      } else {
        this.form.post(this.route('central.transferencias.store'), {
          onSuccess: () => {
            this.close()
          }
        });
      }
    },

    close () {
      this.dialog = false
      this.$nextTick(() => {
        this.editedIndex           = -1
        this.form.ativo_id         = null
        this.form.unidade       = null
        this.form.quantidade       = null
      })
    },

    deleteItem (item) {
      this.editedIndex         = this.transferencias.indexOf(item)
      this.form.ativo_id       = item.ativo_id
      this.form.unidade     = item.unidade
      this.form.quantidade     = item.quantidade
      this.dialogDelete        = true
    },

    deleteItemConfirm () {
      this.form.delete(this.route('central.transferencias.destroy', { transferencia: this.transferencias[this.editedIndex].id }), {
          onSuccess: () => {
            this.closeDelete()
          }
        });
    },

    closeDelete () {
      this.dialogDelete = false
      this.$nextTick(() => {
        this.editedIndex           = -1
        this.form.ativo_id         = null
        this.form.unidade       = null
        this.form.quantidade       = null
      })
    },

    getColor(status) {
      if(status === 'PENDENTE') {
        return 'blue';
      }
      if(status === 'REPROVADA') {
        return 'red';
      }
      if(status === 'CONFIRMADA') {
        return 'green ';
      }
    }
  }
}
</script>
