<template>
  <v-card class="elevation-12">
    <v-form @submit.prevent="reset">
      <v-card-text>
        <v-text-field
          v-model="form.email"
          prepend-icon="person"
          name="email"
          label="E-mail"
          type="text"
          outlined
          dense
          :error-messages="form.errors.email"
          @input="form.clearErrors('email')"
          @blur="form.clearErrors('email')"
        >
        </v-text-field>

        <v-text-field
          id="password"
          v-model="form.password"
          prepend-icon="lock"
          name="password"
          label="Senha"
          type="password"
          outlined
          dense
          :error-messages="form.errors.password"
          @input="form.clearErrors('password')"
          @blur="form.clearErrors('password')"
        >
        </v-text-field>


        <v-text-field
          id="password_confirmation"
          v-model="form.password_confirmation"
          prepend-icon="lock"
          name="password_confirmation"
          label="Senha"
          type="password"
          outlined
          dense
        >
        </v-text-field>

      </v-card-text>

      <v-card-actions>
        <v-spacer></v-spacer>

        <v-btn
          color="primary"
          :loading="form.processing"
          :disabled="form.processing"
          type="submit"
          >Alterar senha</v-btn
        >
      </v-card-actions>
    </v-form>
  </v-card>
</template>

<script>
import Auth from '@/layouts/Auth.vue'

export default {
  layout: Auth,

  props: {
    token: {
      type: String,
      required: false,
    },
    email: {
      type: String,
      required: false,
    }
  },

  data() {
    return {
      form: this.$inertia.form({
        token: this.token,
        email: this.email,
        password: null,
        password_confirmation: null,
      }),
    }
  },

  methods: {
    reset() {
      this.form.post(this.route('central.password.update'))
    },
  },
}
</script>
