<template>
  <v-data-table
    :headers="headersComputados"
    :items="usuarios"
    :items-per-page="10"
    class="elevation-1"
    no-data-text="Nenhuma usuário encontrado"
    no-results-text="Usuário não encontrado"
    :footer-props="{'items-per-page-text': 'Exibir'}"
  >
    <template #top>
      <v-toolbar flat>
        <v-toolbar-title>Usuários</v-toolbar-title>
        <v-divider class="mx-4" inset vertical></v-divider>
        <v-spacer></v-spacer>
        <v-dialog v-if="permissaoCriar || permissaoEditar" v-model="dialog" transition="scroll-x-transition" max-width="500px">
          <template v-if="permissaoCriar" #activator="{ on, attrs }">
            <v-btn color="primary" dark class="mb-2" v-bind="attrs" v-on="on">
              Novo usuário
            </v-btn>
          </template>
          <v-card v-if="permissaoCriar || permissaoEditar">
            <v-card-title>
              <span class="text-h5">{{ tituloFormulario }}</span>
            </v-card-title>

            <v-card-text>
              <v-container>
                <v-row>
                  <v-col cols="12">
                    <v-text-field
                      v-model="form.name"
                      label="Nome do usuario"
                      outlined
                      :error-messages="form.errors.name"
                      @input="form.clearErrors('name')"
                      @blur="form.clearErrors('name')">
                    </v-text-field>
                  </v-col>
                  <v-col cols="12">
                    <v-text-field
                      v-model="form.email"
                      label="E-mail do usuario"
                      outlined
                      :error-messages="form.errors.email"
                      @input="form.clearErrors('email')"
                      @blur="form.clearErrors('email')">
                    </v-text-field>
                  </v-col>
                  <v-col cols="12">
                    <v-autocomplete
                      v-model="form.funcao"
                      :items="funcoes"
                      item-text="funcao"
                      item-value="id"
                      label="Função"
                      outlined
                      clearable
                      :error-messages="form.errors.funcao"
                      @input="form.clearErrors('funcao')"
                      @blur="form.clearErrors('funcao')">
                    </v-autocomplete>
                  </v-col>
                  <v-col cols="12">
                    <v-autocomplete
                      v-model="form.unidade"
                      :items="unidades"
                      item-text="id"
                      item-value="id"
                      label="Unidade"
                      outlined
                      clearable
                      :error-messages="form.errors.unidade"
                      @input="form.clearErrors('unidade')"
                      @blur="form.clearErrors('unidade')">
                    </v-autocomplete>
                  </v-col>
                </v-row>
              </v-container>
            </v-card-text>

            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="red darken-1" text @click="close">Cancelar</v-btn>
              <v-btn color="green darken-1" text @click="save">Salvar</v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
        <v-dialog v-if="permissaoDeletar" v-model="dialogDelete" transition="scroll-x-transition" max-width="500px">
          <v-card>
            <v-card-title>Você tem certeza que deseja deletar esse item?</v-card-title>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="red darken-1" text @click="closeDelete">Cancelar</v-btn>
              <v-btn color="green darken-1" text @click="deleteItemConfirm">OK</v-btn>
              <v-spacer></v-spacer>
            </v-card-actions>
          </v-card>
        </v-dialog>
      </v-toolbar>
    </template>
    <template v-if="permissaoEditar || permissaoDeletar" v-slot:item.actions="{ item }">
      <v-icon v-if="permissaoEditar" small class="mr-2" @click="editItem(item)">edit</v-icon>
      <v-icon v-if="permissaoDeletar" small color="red" @click="deleteItem(item)">delete_forever</v-icon>
    </template>
  </v-data-table>
</template>

<script>
import Central from '@/layouts/Dashboard/Central.vue'

export default {
  layout: Central,

  props: {
    usuarios: {
      type: Array,
      required: true,
      default() {
        return []
      }
    },
    unidades: {
      type: Array,
      required: true,
      default() {
        return []
      }
    },
    funcoes: {
      type: Array,
      required: true,
      default() {
        return []
      }
    },
    permissoes: {
      type: Object,
      required: true,
      default() {
        return {}
      }
    }
  },

  data() {
    return {
      headers: [
         { text: '#', align: 'start', sortable: true, value: 'id'},
         { text: 'Nome', align: 'center', sortable: true, value: 'nome'},
         { text: 'E-mail', align: 'center', sortable: true, value: 'email'},
         { text: 'Função', align: 'center', sortable: true, value: 'funcao.name'},
         { text: 'Unidade', align: 'center', sortable: true, value: 'unidade'},
         { text: 'Data de criação', align: 'center', sortable: false, value: 'created_at'},
         { text: 'Data de atualização', align: 'center', sortable: false, value: 'updated_at'},
      ],

      dialog: false,
      dialogDelete: false,
      editedIndex: -1,
      form: this.$inertia.form({
        name: null,
        email: null,
        funcao: null,
        unidade: null
      })
    }
  },

  computed: {
    tituloFormulario () {
      return this.editedIndex === -1 ? 'Cadastrar Usuário' : 'Editar Usuário'
    },

    headersComputados() {
      const headers = this.headers;

      if(this.permissaoEditar || this.permissaoDeletar) {
        const acoes = { text: 'Ações', align: 'center', sortable: false, value: 'actions'};

        return [...headers, acoes]
      }
      return [...headers]
    },

    permissaoCriar() {
      return this.verificarPermissao(this.$page.props.auth.permissoes, this.permissoes.store)
    },

    permissaoEditar() {
      return this.verificarPermissao(this.$page.props.auth.permissoes, this.permissoes.update)
    },

    permissaoDeletar() {
      return this.verificarPermissao(this.$page.props.auth.permissoes, this.permissoes.destroy)
    }
  },

  watch: {
    dialog (val) {
      val || this.close()
    },
    dialogDelete (val) {
      val || this.closeDelete()
    },
  },

  methods: {
    editItem (item) {
      this.editedIndex   = this.usuarios.indexOf(item)
      this.form.name     = item.nome
      this.form.email    = item.email
      this.form.unidade  = item.unidade
      this.form.funcao   = item.funcao?.id
      this.dialog        = true
    },

    save () {
      if (this.editedIndex > -1) {
        this.form.put(this.route('central.usuarios.update', { usuario: this.usuarios[this.editedIndex].id }), {
          onSuccess: () => {
            this.close()
          }
        });
      } else {
        this.form.post(this.route('central.usuarios.store'), {
          onSuccess: () => {
            this.close()
          }
        });
      }
    },

    close () {
      this.dialog = false
      this.$nextTick(() => {
        this.editedIndex   = -1,
        this.form.name     = null
        this.form.email    = null
        this.form.unidade  = null
        this.form.funcao   = null
      })
    },

    deleteItem (item) {
      this.editedIndex   = this.usuarios.indexOf(item)
      this.form.name     = item.nome
      this.form.email    = item.email
      this.form.unidade  = item.unidade
      this.form.funcao   = item.funcao?.id
      this.dialogDelete  = true
    },

    deleteItemConfirm () {
      this.form.delete(this.route('central.usuarios.destroy', { usuario: this.usuarios[this.editedIndex].id }), {
          onSuccess: () => {
            this.closeDelete()
          }
        });
    },

    closeDelete () {
      this.dialogDelete = false
      this.$nextTick(() => {
        this.editedIndex   = -1,
        this.form.name     = null
        this.form.email    = null
        this.form.unidade  = null
        this.form.funcao   = null
      })
    },
  }
}
</script>
