<template>
  <v-app-bar app dark flat elevation="1">
    <v-app-bar-nav-icon @click="toggle">
      <v-icon>menu</v-icon>
    </v-app-bar-nav-icon>
    <v-toolbar-title>{{ appname }}</v-toolbar-title>

    <v-spacer></v-spacer>

    <v-menu bottom origin="center center" transition="scale-transition">
      <template #activator="{ on, attrs }">
        <v-btn icon v-bind="attrs" v-on="on">
          <v-icon>account_circle</v-icon>
        </v-btn>
      </template>

      <v-list>
        <NavbarItem :item="logout" />
      </v-list>
    </v-menu>
  </v-app-bar>
</template>

<script>
import NavbarItem from '@/components/shared/Navbar/NavbarItem.vue'

export default {
  components: {
    NavbarItem,
  },

  data() {
    return {
      logout: {
        link: this.route('unidade.logout', { tenant: this.$page.props.unidade }),
        text: 'Logout',
        icon: 'logout',
        method: 'POST',
      },
    }
  },

  computed: {
    appname: function () {
      return this.$page.props.appName
    },
  },

  methods: {
    toggle() {
      this.$emit('toggle')
    },
  },
}
</script>
