<template>
  <v-card class="elevation-12">
    <v-form @submit.prevent="login">
      <v-card-text>
        <v-text-field
          v-model="form.email"
          prepend-icon="person"
          name="email"
          label="E-mail"
          type="text"
          outlined
          dense
          :error-messages="form.errors.email"
          @input="form.clearErrors('email')"
          @blur="form.clearErrors('email')"
        >
        </v-text-field>

        <v-text-field
          id="password"
          v-model="form.password"
          prepend-icon="lock"
          name="password"
          label="Senha"
          type="password"
          outlined
          dense
          :error-messages="form.errors.password"
          @input="form.clearErrors('password')"
          @blur="form.clearErrors('password')"
        >
        </v-text-field>

        <div class="mt-2">
          <Link
            :href="route('central.password.request')"
            class="text-decoration-none"
            color="primary"
            >Esqueceu sua senha ?</Link
          >
        </div>
      </v-card-text>

      <v-card-actions>
        <v-spacer></v-spacer>

        <v-btn
          color="primary"
          :loading="form.processing"
          :disabled="form.processing"
          type="submit"
          >Entrar</v-btn
        >
      </v-card-actions>
    </v-form>
  </v-card>
</template>

<script>
import { Link } from '@inertiajs/inertia-vue'
import Auth from '@/layouts/Auth.vue'

export default {
  components: {
    Link,
  },

  layout: Auth,

  data() {
    return {
      form: this.$inertia.form({
        email: null,
        password: null,
      }),
    }
  },

  methods: {
    login() {
      this.form.post(this.route('unidade.login', {tenant: this.$page.props.unidade}))
    },
  },
}
</script>
