<template>
  <v-data-table
    :headers="headersComputados"
    :items="ativos"
    :items-per-page="10"
    class="elevation-1"
    no-data-text="Nenhuma ativo encontrado"
    no-results-text="Ativo não encontrado"
    :footer-props="{'items-per-page-text': 'Exibir'}"
  >
    <template #top>
      <v-toolbar flat>
        <v-toolbar-title>Ativos</v-toolbar-title>
        <v-divider class="mx-4" inset vertical></v-divider>
        <v-spacer></v-spacer>
        <v-dialog v-if="permissaoCriar || permissaoEditar" v-model="dialog" transition="scroll-x-transition" max-width="950px">
          <template v-if="permissaoCriar" #activator="{ on, attrs }">
            <v-btn color="primary" dark class="mb-2" v-bind="attrs" v-on="on">
              Novo ativo
            </v-btn>
          </template>
          <v-card v-if="permissaoCriar || permissaoEditar">
            <v-card-title>
              <span class="text-h5">{{ tituloFormulario }}</span>
            </v-card-title>

            <v-card-text>
              <v-container>
                <v-row>
                  <v-col cols="6">
                    <v-text-field
                      v-model="form.titulo"
                      label="Titulo"
                      outlined
                      :error-messages="form.errors.titulo"
                      @input="form.clearErrors('titulo')"
                      @blur="form.clearErrors('titulo')"
                    >
                    </v-text-field>

                    <v-autocomplete
                      v-model="form.categorias"
                      :items="categorias"
                      item-text="titulo"
                      item-value="id"
                      label="Categorias"
                      chips
                      small-chips
                      deletable-chips
                      outlined
                      multiple
                      clear-icon="clear"
                      :error-messages="form.errors.categorias"
                      @input="form.clearErrors('categorias')"
                      @blur="form.clearErrors('categorias')"
                    >
                    </v-autocomplete>

                    <v-text-field
                      v-model="form.n_patrimonio"
                      label="Número de patrimônio"
                      outlined
                      :error-messages="form.errors.n_patrimonio"
                      @input="form.clearErrors('n_patrimonio')"
                      @blur="form.clearErrors('n_patrimonio')"
                    >
                    </v-text-field>

                    <v-text-field
                      v-model="form.n_serie"
                      label="Número de série"
                      outlined
                      :error-messages="form.errors.n_serie"
                      @input="form.clearErrors('n_serie')"
                      @blur="form.clearErrors('n_serie')"
                    >
                    </v-text-field>

                    <v-text-field
                      v-model="form.n_etiqueta_servico"
                      label="Número da etiqueta de serviço"
                      outlined
                      :error-messages="form.errors.n_etiqueta_servico"
                      @input="form.clearErrors('n_etiqueta_servico')"
                      @blur="form.clearErrors('n_etiqueta_servico')"
                    >
                    </v-text-field>
                  </v-col>

                  <v-col cols="6">
                    <v-textarea
                      v-model="form.descricao"
                      label="Descrição"
                      outlined
                      :error-messages="form.errors.descricao"
                      @input="form.clearErrors('descricao')"
                      @blur="form.clearErrors('descricao')">
                    </v-textarea>
                  </v-col>
                </v-row>
              </v-container>
            </v-card-text>

            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="red darken-1" text @click="close">Cancelar</v-btn>
              <v-btn color="green darken-1" text @click="save">Salvar</v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
        <v-dialog v-if="permissaoDeletar" v-model="dialogDelete" transition="scroll-x-transition" max-width="500px">
          <v-card>
            <v-card-title>Você tem certeza que deseja deletar esse item?</v-card-title>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="red darken-1" text @click="closeDelete">Cancelar</v-btn>
              <v-btn color="green darken-1" text @click="deleteItemConfirm">OK</v-btn>
              <v-spacer></v-spacer>
            </v-card-actions>
          </v-card>
        </v-dialog>
        <v-dialog v-model="dialogDetail" transition="scroll-x-transition" max-width="950px">
          <v-card>
            <v-card-title>
              <span class="text-h5">Visualizar Ativo</span>
            </v-card-title>

            <v-card-text>
              <v-container>
                <v-row>
                  <v-col cols="6">
                    <v-text-field
                      v-model="form.titulo"
                      label="Titulo"
                      outlined
                      readonly
                    >
                    </v-text-field>

                    <v-autocomplete
                      v-model="form.categorias"
                      :items="categorias"
                      item-text="titulo"
                      item-value="id"
                      label="Categorias"
                      chips
                      small-chips
                      outlined
                      multiple
                      readonly
                    >
                    </v-autocomplete>

                    <v-text-field
                      v-model="form.n_patrimonio"
                      label="Número de patrimônio"
                      outlined
                      readonly
                    >
                    </v-text-field>

                    <v-text-field
                      v-model="form.n_serie"
                      label="Número de série"
                      outlined
                      readonly
                    >
                    </v-text-field>

                    <v-text-field
                      v-model="form.n_etiqueta_servico"
                      label="Número da etiqueta de serviço"
                      outlined
                      readonly
                    >
                    </v-text-field>
                  </v-col>

                  <v-col cols="6">
                    <v-textarea
                      v-model="form.descricao"
                      label="Descrição"
                      outlined
                      readonly>
                    </v-textarea>
                  </v-col>
                </v-row>
              </v-container>
            </v-card-text>

            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="red darken-1" text @click="closeDetail">Fechar</v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
      </v-toolbar>
    </template>
    <template v-slot:item.actions="{ item }">
      <v-icon small class="mr-2" @click="detailItem(item)">visibility</v-icon>
      <v-icon v-if="permissaoEditar" small class="mr-2" @click="editItem(item)">edit</v-icon>
      <v-icon v-if="permissaoDeletar" small color="red" @click="deleteItem(item)">delete_forever</v-icon>
    </template>
  </v-data-table>
</template>

<script>
import Central from '@/layouts/Dashboard/Central.vue'

export default {
  layout: Central,

  props: {
    ativos: {
      type: Array,
      required: true,
      default() {
        return []
      }
    },
    categorias: {
      type: Array,
      required: true,
      default() {
        return []
      }
    },
    permissoes: {
      type: Object,
      required: true,
      default() {
        return {}
      }
    }
  },

  data() {
    return {
      headers: [
         { text: '#', align: 'start', sortable: true, value: 'id'},
         { text: 'Titulo', align: 'center', sortable: true, value: 'titulo'},
         { text: 'Descrição', align: 'center', sortable: true, value: 'descricao'},
         { text: 'Data de criação', align: 'center', sortable: false, value: 'created_at'},
         { text: 'Data de atualização', align: 'center', sortable: false, value: 'updated_at'},
      ],

      dialog: false,
      dialogDelete: false,
      dialogDetail: false,
      editedIndex: -1,
      form: this.$inertia.form({
        titulo: null,
        descricao: null,
        categorias: null,
        n_patrimonio: null,
        n_serie: null,
        n_etiqueta_servico: null,
      })
    }
  },

  computed: {
    tituloFormulario () {
      return this.editedIndex === -1 ? 'Cadastrar Ativo' : 'Editar Ativo'
    },

    headersComputados() {
      const headers = this.headers;

      const acoes = { text: 'Ações', align: 'center', sortable: false, value: 'actions'};

      return [...headers, acoes]
    },

    permissaoCriar() {
      return this.verificarPermissao(this.$page.props.auth.permissoes, this.permissoes.store)
    },

    permissaoEditar() {
      return this.verificarPermissao(this.$page.props.auth.permissoes, this.permissoes.update)
    },

    permissaoDeletar() {
      return this.verificarPermissao(this.$page.props.auth.permissoes, this.permissoes.destroy)
    }
  },

  watch: {
    dialog (val) {
      val || this.close()
    },
    dialogDelete (val) {
      val || this.closeDelete()
    },
    dialogDetail (val) {
      val || this.closeDetail()
    },
  },

  methods: {
    detailItem (item) {
      this.form.titulo             = item.titulo
      this.form.descricao          = item.descricao
      this.form.categorias         = item.categorias
      this.form.n_patrimonio       = item.n_patrimonio
      this.form.n_serie            = item.n_serie
      this.form.n_etiqueta_servico = item.n_etiqueta_servico
      this.dialogDetail            = true
    },

    closeDetail () {
      this.dialogDetail = false
      this.$nextTick(() => {
        this.form.titulo             = null
        this.form.descricao          = null
        this.form.categorias         = null
        this.form.n_patrimonio       = null
        this.form.n_serie            = null
        this.form.n_etiqueta_servico = null
      })
    },

    editItem (item) {
      this.editedIndex             = this.ativos.indexOf(item)
      this.form.titulo             = item.titulo
      this.form.descricao          = item.descricao
      this.form.categorias         = item.categorias
      this.form.n_patrimonio       = item.n_patrimonio
      this.form.n_serie            = item.n_serie
      this.form.n_etiqueta_servico = item.n_etiqueta_servico
      this.dialog                  = true
    },

    save () {
      if (this.editedIndex > -1) {
        this.form.put(this.route('central.ativos.update', { ativo: this.ativos[this.editedIndex].id }), {
          onSuccess: () => {
            this.close()
          }
        });
      } else {
        this.form.post(this.route('central.ativos.store'), {
          onSuccess: () => {
            this.close()
          }
        });
      }
    },

    close () {
      this.dialog = false
      this.$nextTick(() => {
        this.editedIndex             = -1,
        this.form.titulo             = null
        this.form.descricao          = null
        this.form.categorias         = null
        this.form.n_patrimonio       = null
        this.form.n_serie            = null
        this.form.n_etiqueta_servico = null
      })
    },

    deleteItem (item) {
      this.editedIndex             = this.ativos.indexOf(item)
      this.form.titulo             = item.titulo
      this.form.descricao          = item.descricao
      this.form.categorias         = item.categorias
      this.form.n_patrimonio       = item.n_patrimonio
      this.form.n_serie            = item.n_serie
      this.form.n_etiqueta_servico = item.n_etiqueta_servico
      this.dialogDelete            = true
    },

    deleteItemConfirm () {
      this.form.delete(this.route('central.ativos.destroy', { ativo: this.ativos[this.editedIndex].id }), {
          onSuccess: () => {
            this.closeDelete()
          }
        });
    },

    closeDelete () {
      this.dialogDelete = false
      this.$nextTick(() => {
        this.editedIndex             = -1,
        this.form.titulo             = null
        this.form.descricao          = null
        this.form.categorias         = null
        this.form.n_patrimonio       = null
        this.form.n_serie            = null
        this.form.n_etiqueta_servico = null
      })
    },
  }
}
</script>
