<template>
  <v-data-table
    :headers="headersComputados"
    :items="categorias"
    :items-per-page="10"
    class="elevation-1"
    no-data-text="Nenhuma categoria encontrada"
    no-results-text="Categoria não encontrada"
    :footer-props="{'items-per-page-text': 'Exibir'}"
  >
    <template #top>
      <v-toolbar flat>
        <v-toolbar-title>Categorias</v-toolbar-title>
        <v-divider class="mx-4" inset vertical></v-divider>
        <v-spacer></v-spacer>
        <v-dialog v-if="permissaoCriar || permissaoEditar" v-model="dialog" transition="scroll-x-transition" max-width="500px">
          <template v-if="permissaoCriar" #activator="{ on, attrs }">
            <v-btn color="primary" dark class="mb-2" v-bind="attrs" v-on="on">
              Nova categoria
            </v-btn>
          </template>
          <v-card v-if="permissaoCriar || permissaoEditar">
            <v-card-title>
              <span class="text-h5">{{ tituloFormulario }}</span>
            </v-card-title>

            <v-card-text>
              <v-container>
                <v-row>
                  <v-col cols="12">
                    <v-text-field
                      v-model="form.titulo"
                      label="Titulo da categoria"
                      outlined
                      :error-messages="form.errors.titulo"
                      @input="form.clearErrors('titulo')"
                      @blur="form.clearErrors('titulo')">
                    </v-text-field>
                  </v-col>
                </v-row>
              </v-container>
            </v-card-text>

            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="red darken-1" text @click="close">Cancelar</v-btn>
              <v-btn color="green darken-1" text @click="save">Salvar</v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
        <v-dialog v-if="permissaoDeletar" v-model="dialogDelete" transition="scroll-x-transition" max-width="500px">
          <v-card>
            <v-card-title>Você tem certeza que deseja deletar esse item?</v-card-title>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="red darken-1" text @click="closeDelete">Cancelar</v-btn>
              <v-btn color="green darken-1" text @click="deleteItemConfirm">OK</v-btn>
              <v-spacer></v-spacer>
            </v-card-actions>
          </v-card>
        </v-dialog>
      </v-toolbar>
    </template>
    <template v-if="permissaoEditar || permissaoDeletar" v-slot:item.actions="{ item }">
      <v-icon v-if="permissaoEditar" small class="mr-2" @click="editItem(item)">edit</v-icon>
      <v-icon v-if="permissaoDeletar" small color="red" @click="deleteItem(item)">delete_forever</v-icon>
    </template>
  </v-data-table>
</template>

<script>
import Central from '@/layouts/Dashboard/Central.vue'

export default {
  layout: Central,

  props: {
    categorias: {
      type: Array,
      required: true,
      default() {
        return []
      }
    },
    permissoes: {
      type: Object,
      required: true,
      default() {
        return {}
      }
    }
  },

  data() {
    return {
      headers: [
         { text: '#', align: 'start', sortable: true, value: 'id'},
         { text: 'Titulo', align: 'center', sortable: true, value: 'titulo'},
         { text: 'Data de criação', align: 'center', sortable: false, value: 'created_at'},
         { text: 'Data de atualização', align: 'center', sortable: false, value: 'updated_at'},
      ],

      dialog: false,
      dialogDelete: false,
      editedIndex: -1,
      form: this.$inertia.form({
        titulo: null
      })
    }
  },

  computed: {
    tituloFormulario () {
      return this.editedIndex === -1 ? 'Cadastrar Categoria' : 'Editar Categoria'
    },

    headersComputados() {
      const headers = this.headers;

      if(this.permissaoEditar || this.permissaoDeletar) {
        const acoes = { text: 'Ações', align: 'center', sortable: false, value: 'actions'};

        return [...headers, acoes]
      }
      return [...headers]
    },

    permissaoCriar() {
      return this.verificarPermissao(this.$page.props.auth.permissoes, this.permissoes.store)
    },

    permissaoEditar() {
      return this.verificarPermissao(this.$page.props.auth.permissoes, this.permissoes.update)
    },

    permissaoDeletar() {
      return this.verificarPermissao(this.$page.props.auth.permissoes, this.permissoes.destroy)
    }
  },

  watch: {
    dialog (val) {
      val || this.close()
    },
    dialogDelete (val) {
      val || this.closeDelete()
    },
  },

  methods: {
    editItem (item) {
      this.editedIndex   = this.categorias.indexOf(item)
      this.form.titulo   = item.titulo
      this.dialog        = true
    },

    save () {
      if (this.editedIndex > -1) {
        this.form.put(this.route('central.categorias.update', { categoria: this.categorias[this.editedIndex].id }), {
          onSuccess: () => {
            this.close()
          }
        });
      } else {
        this.form.post(this.route('central.categorias.store'), {
          onSuccess: () => {
            this.close()
          }
        });
      }
    },

    close () {
      this.dialog = false
      this.$nextTick(() => {
        this.editedIndex  = -1,
        this.form.titulo  = null
      })
    },

    deleteItem (item) {
      this.editedIndex   = this.categorias.indexOf(item)
      this.form.titulo   = item.titulo
      this.dialogDelete  = true
    },

    deleteItemConfirm () {
      this.form.delete(this.route('central.categorias.destroy', { categoria: this.categorias[this.editedIndex].id }), {
          onSuccess: () => {
            this.closeDelete()
          }
        });
    },

    closeDelete () {
      this.dialogDelete = false
      this.$nextTick(() => {
        this.editedIndex  = -1,
        this.form.titulo  = null
      })
    },
  }
}
</script>
