<template>
  <v-app id="inspire">
    <Sidebar ref="sidebar"/>
    <Navbar @toggle="$refs.sidebar.drawer = !$refs.sidebar.drawer"/>

    <v-main>
      <v-container class="px-4 py-8" fluid>
        <slot></slot>
      </v-container>
    </v-main>
  </v-app>
</template>

<script>
import Sidebar from '@/components/unidade/Sidebar/Index.vue';
import Navbar from '@/components/unidade/Navbar/Index.vue';

export default {
  components: {
    Sidebar,
    Navbar,
  },
}
</script>

<style>
html {
  overflow-y: auto;
}
</style>
