<template>
  <v-data-table
    :headers="headersComputados"
    :items="compras"
    :items-per-page="10"
    class="elevation-1"
    no-data-text="Nenhuma compra encontrada"
    no-results-text="Compra não encontrada"
    :footer-props="{'items-per-page-text': 'Exibir'}"
  >
    <template #top>
      <v-toolbar flat>
        <v-toolbar-title>Compras</v-toolbar-title>
        <v-divider class="mx-4" inset vertical></v-divider>
        <v-spacer></v-spacer>
        <v-dialog v-if="permissaoCriar || permissaoEditar" v-model="dialog" transition="scroll-x-transition" max-width="650px">
          <template #activator="{ on, attrs }">
            <v-btn v-if="permissaoCriar" color="primary" dark class="mb-2" v-bind="attrs" v-on="on">
              Nova compra
            </v-btn>
          </template>
          <v-card v-if="permissaoCriar || permissaoEditar">
            <v-card-title>
              <span class="text-h5">{{ tituloFormulario }}</span>
            </v-card-title>

            <v-card-text>
              <v-container>
                <v-row>
                  <v-col cols="12">
                    <v-autocomplete
                      v-model="form.ativo_id"
                      :items="ativos"
                      item-text="titulo"
                      item-value="id"
                      label="Ativo"
                      outlined
                      :error-messages="form.errors.ativo_id"
                      @input="form.clearErrors('ativo_id')"
                      @blur="form.clearErrors('ativo_id')">
                    </v-autocomplete>
                  </v-col>

                  <v-col cols="12">
                    <v-autocomplete
                      v-model="form.nota_fiscal_id"
                      :items="notasFiscais"
                      item-text="id"
                      item-value="id"
                      label="Nota Fiscal"
                      outlined
                      :error-messages="form.errors.nota_fiscal_id"
                      @input="form.clearErrors('nota_fiscal_id')"
                      @blur="form.clearErrors('nota_fiscal_id')"
                    >
                      <template v-if="form.nota_fiscal_id" #append-outer>
                        <v-menu>
                          <template #activator="{ on, attrs }">
                            <v-btn icon v-bind="attrs" v-on="on">
                              <v-icon>
                                info
                              </v-icon>
                            </v-btn>
                          </template>
                          <v-card>
                            <v-card-text>
                              <v-container>
                                <v-row dense>
                                  <v-col cols="12">
                                    <v-text-field :value="notaFiscalSelecionada.numero_nota_fiscal" label="Numero da Nota Fiscal" dense outlined readonly>
                                    </v-text-field>
                                  </v-col>

                                  <v-col cols="6">
                                    <v-text-field :value="notaFiscalSelecionada.fornecedor" label="Fornecedor" dense outlined readonly>
                                    </v-text-field>
                                  </v-col>

                                  <v-col cols="6">
                                    <v-text-field :value="notaFiscalSelecionada.comprado_at" type="date" label="Data de compra" dense outlined readonly>
                                    </v-text-field>
                                  </v-col>
                                </v-row>
                              </v-container>
                            </v-card-text>
                          </v-card>
                        </v-menu>
                      </template>
                    </v-autocomplete>
                  </v-col>

                  <v-col cols="6">
                    <v-text-field
                      v-model.number="form.quantidade"
                      type="number"
                      label="Quantidade"
                      outlined
                      :error-messages="form.errors.quantidade"
                      @input="form.clearErrors('quantidade')"
                      @blur="form.clearErrors('quantidade')">
                    </v-text-field>
                  </v-col>

                  <v-col cols="6">
                    <v-text-field
                      v-model.number="form.valor_unitario"
                      label="Valor unitário"
                      outlined
                      :error-messages="form.errors.valor_unitario"
                      @input="form.clearErrors('valor_unitario')"
                      @blur="form.clearErrors('valor_unitario')">
                    </v-text-field>
                  </v-col>
                </v-row>
              </v-container>
            </v-card-text>

            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="red darken-1" text @click="close">Cancelar</v-btn>
              <v-btn color="green darken-1" text @click="save">Salvar</v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
        <v-dialog v-if="permissaoDeletar" v-model="dialogDelete" transition="scroll-x-transition" max-width="500px">
          <v-card>
            <v-card-title>Você tem certeza que deseja deletar esse item?</v-card-title>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="red darken-1" text @click="closeDelete">Cancelar</v-btn>
              <v-btn color="green darken-1" text @click="deleteItemConfirm">OK</v-btn>
              <v-spacer></v-spacer>
            </v-card-actions>
          </v-card>
        </v-dialog>
      </v-toolbar>
    </template>
    <template v-if="permissaoEditar || permissaoDeletar" v-slot:item.actions="{ item }">
      <v-icon v-if="permissaoEditar" small class="mr-2" @click="editItem(item)">edit</v-icon>
      <v-icon v-if="permissaoDeletar" small color="red" @click="deleteItem(item)">delete_forever</v-icon>
    </template>
  </v-data-table>
</template>

<script>
import Central from '@/layouts/Dashboard/Central.vue'

export default {
  layout: Central,

  props: {
    compras: {
      type: Array,
      required: true,
      default() {
        return []
      }
    },
    ativos: {
      type: Array,
      required: true,
      default() {
        return []
      }
    },
    notasFiscais: {
      type: Array,
      required: true,
      default() {
        return []
      }
    },
    permissoes: {
      type: Object,
      required: true,
      default() {
        return {}
      }
    }
  },

  data() {
    return {
      headers: [
         { text: '#', align: 'start', sortable: true, value: 'id'},
         { text: 'Ativo', align: 'center', sortable: true, value: 'ativo_id'},
         { text: 'Quantidade', align: 'center', sortable: true, value: 'quantidade'},
         { text: 'Valor unitário', align: 'center', sortable: true, value: 'valor_unitario'},
         { text: 'Nota Fiscal', align: 'center', sortable: true, value: 'nota_fiscal_id'},
         { text: 'Data de criação', align: 'center', sortable: false, value: 'created_at'},
         { text: 'Data de atualização', align: 'center', sortable: false, value: 'updated_at'},
      ],

      dialog: false,
      dialogDelete: false,
      editedIndex: -1,
      form: this.$inertia.form({
        ativo_id: null,
        quantidade: null,
        valor_unitario: null,
        nota_fiscal_id: null
      })
    }
  },

  computed: {
    tituloFormulario () {
      return this.editedIndex === -1 ? 'Cadastrar Compra' : 'Editar Compra'
    },

    notaFiscalSelecionada() {
      return this.notasFiscais[this.notasFiscais.findIndex(x => x.id === this.form.nota_fiscal_id)];
    },

    headersComputados() {
      const headers = this.headers;

      if(this.permissaoEditar || this.permissaoDeletar) {
        const acoes = { text: 'Ações', align: 'center', sortable: false, value: 'actions'};

        return [...headers, acoes]
      }
      return [...headers]
    },

    permissaoCriar() {
      return this.verificarPermissao(this.$page.props.auth.permissoes, this.permissoes.store)
    },

    permissaoEditar() {
      return this.verificarPermissao(this.$page.props.auth.permissoes, this.permissoes.update)
    },

    permissaoDeletar() {
      return this.verificarPermissao(this.$page.props.auth.permissoes, this.permissoes.destroy)
    }
  },

  watch: {
    dialog (val) {
      val || this.close()
    },
    dialogDelete (val) {
      val || this.closeDelete()
    },
  },

  methods: {
    editItem (item) {
      this.editedIndex         = this.compras.indexOf(item)
      this.form.ativo_id       = item.ativo_id
      this.form.quantidade     = item.quantidade
      this.form.valor_unitario = item.valor_unitario
      this.form.nota_fiscal_id = item.nota_fiscal_id
      this.dialog              = true
    },

    save () {
      if (this.editedIndex > -1) {
        this.form.put(this.route('central.compras.update', { compra: this.compras[this.editedIndex].id }), {
          onSuccess: () => {
            this.close()
          }
        });
      } else {
        this.form.post(this.route('central.compras.store'), {
          onSuccess: () => {
            this.close()
          }
        });
      }
    },

    close () {
      this.dialog = false
      this.$nextTick(() => {
        this.editedIndex         = -1
        this.form.ativo_id       = null
        this.form.quantidade     = null
        this.form.valor_unitario = null
        this.form.nota_fiscal_id = null
      })
    },

    deleteItem (item) {
      this.editedIndex         = this.compras.indexOf(item)
      this.form.ativo_id       = item.ativo_id
      this.form.quantidade     = item.quantidade
      this.form.valor_unitario = item.valor_unitario
      this.form.nota_fiscal_id = item.nota_fiscal_id
      this.dialogDelete        = true
    },

    deleteItemConfirm () {
      this.form.delete(this.route('central.compras.destroy', { compra: this.compras[this.editedIndex].id }), {
          onSuccess: () => {
            this.closeDelete()
          }
        });
    },

    closeDelete () {
      this.dialogDelete = false
      this.$nextTick(() => {
        this.editedIndex         = -1
        this.form.ativo_id       = null
        this.form.quantidade     = null
        this.form.valor_unitario = null
        this.form.nota_fiscal_id = null
      })
    },
  }
}
</script>
